@use '@base.css' as *;

.header {
    max-width: 1440px;
    width: 100%;
    height: 119px;
    background-color: var(--bg-color);
    display: flex;
    /* flex-контейнер */
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.header__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.header__logo {
    width: 160px;
    height: 33px;
    margin-left: 50px;
}


.header__menu {
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 37px;
}

.header__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc((403px - (75px * 4))/4);
}

.header__ul__item {
    color: white;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    font-style: normal;
    letter-spacing: 0;
    transition: color 0.3s;
    cursor: pointer;
    padding: 10px;
}

.header__ul__item:hover {
  color: var(--btn-color);
}

.active {
  color: var(--btn-color);
}